<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
        <li routerLinkActive="active"><a routerLink="/add-tutorial">Add Tutorial</a></li>
        <li routerLinkActive="active"><a routerLink="/items">Tutorials</a></li>
        <li routerLinkActive="active"><a routerLink="/login">Login</a></li>

      </ul>

      <div *ngIf="(afAuth.user | async); else loggedOut">
        <span>User is logged in</span>
      </div>

      <!--<p #loggedOut>User is not logged in </p>-->

      <ng-template #loggedOut>
        <div>
          User is not logged in
        </div>
      </ng-template>

      <div *ngIf="(!afAuth.user | async)">
        <span>User is not logged in !!!!!</span>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
            <li><a style="cursor: pointer;">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
